*{
    top:0;
    margin:0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
}
body{
    background-color:#efc9c9;
    display: flex;
    align-items: center;
    justify-content: center;
    height:100vh;
}
.container{
    background-color: rgb(255, 255, 255);
    width:100%;
    max-width: 400px;
    text-align: center;
    padding:20px;
    border-radius: 10px;
    box-shadow: 0 0  6px #696868;
}

.login h1{
   color:#333;
   margin-bottom:30px;
   font-size:2rem;
}
form{
    display: flex;
    flex-direction: column;
    gap:15px;
    margin:20px;
}
.login label{
    font-weight: bold;
}
.login input{
    outline: none;
   padding:8px;
   border: none;
}
.login button{
    cursor: pointer;
    width:50%;
    padding:8px;
    background-color: rgb(196, 66, 135);
    font-weight: bold;
    border:none;
    align-self: center;
    border-radius: 10px;;
}
.login .input-container{
    border:1px solid black;
    padding:5px;
    padding-left: 0;
    margin-left:0;
}

